@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Josefin+Sans&family=Roboto+Slab&family=Tapestry&Oleo+Script+Swash+Caps&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

p, li, a, button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.3;
	color: #edf0f1;
	margin-top: 10px;
}

a:hover {
	color: #827f75;
	text-decoration: underline;
}

h1 {
	font-family: 'Oleo Script Swash Caps', cursive;
}

/*navbar*/
#header-fix {
	opacity: 0;
	position: fixed;
	width: 100%;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 5%;
	background-color: #353940;
	height: 80px;
	transition: opacity 0.3s ease;
}
#header {
	width: 100%;
	z-index: 3;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 5%;
	background-color: #353940;
	height: 80px;
	transition: opacity 0.3s ease;

	margin: 0 auto;
    text-align: center;
    font-size: 16px;
}


.navbar-list li {
	margin: 0;
	display: inline-block;
	border-left: 2px solid #3ca0e7;
	padding: 0 30px;
	position: relative;
	text-decoration: none;
	text-align: center;
	font-family: arvo;
}
.navbar-list li a{
	font-size: 20px;
	transition: all 0.1s ease 0.1s;
	text-decoration: none;
	color: #4b9ca3;
}
.navbar-list li a:hover {
	color: #0088a9;
	cursor: pointer;
}

.nav-li:hover > ul, .nav-li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
	min-width: 250px;
	text-align: left;
	padding-top: 20px;
	box-shadow: 0px 3px 5px -1px #ccc;
}

.navbar-list .dropdown {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	display: block;
	min-width: 250px;
	text-align: left;
	padding-left: 0;
	margin-top: 0;
	left: 0;
	border-radius: 5px;
	background: white;
	transition: all 0.2s ease;
}

.navbar-list .dropdown li {
	clear: both;
	width: 100%;
	text-align: left;
	margin-bottom: 20px;
	border-style: none;
	transition: all 0.2s ease;
}

.navbar-list .dropdown li a {
	font-size: 15px;
}

.navbar-list .dropdown li a:hover {
	padding-left: 10px;
	border-left: 2px solid #3ca0e7;
	transition: all 0.2s ease;
}



/*main image*/
.img-me {
	max-width:100%;
	height: auto;
}

.mainPicture {
	position: absolute;
}
.mainPicture * {
	background-color: none;
}

.text-wrapper {
	width: 100%;
	position: absolute;
	margin-top: -17%;
	background-color: none;
}
.text-wrapper h1 {
	text-align: center;
	color: #fff1cf;
	font-size: 4vw;
	background-color: none;
	font-family: 'Tapestry', cursive;
}
.text-wrapper h1.description {
	font-size: 3vw;
}

/*myself*/
#myself {
	margin-bottom: 30px;
}
#myself h1{
	position: relative;
	text-align: center;
	padding: 10px 0;
}

.col-2-myself:hover {
	box-shadow: 0 0 0 3px #FFCC33;
}

.selfdesc {
	margin: 50px 20px 25px 60px;
	display: flex;
}

.col-2-myself {
	display: flex;
	border-radius: 10px;
	background-color: #e3d09a;
	margin: 10px 20px;
}

.myself-col-1 {
	display: flex;
	flex-direction: column;
}
.myself-col-2 {
	display: flex;
	flex-direction: column;
}

.me_img {
	margin: 10px 10px;
	height: 400px;
	width: 300px;
}

.resume {
	text-align: center;
	height: 320px;
	width: 212px;
	margin: 10px 10px 10px 60px;
}

.resume img {
	margin-top: 10px;
	height: 300px;
	width: 200px;
	transition: all 0.1s ease;
}
.resume img:hover {
	margin-top: 10px;
	height: 320px;
	width: 212px;
	transition: all 0.2s ease;
}

.tech-skills li{

}

.brief_desc {
	margin-bottom: 50px;
}

.selfdesc h2 {
	font-family: 'Josefin Sans', sans-serif;
}

.selfdesc div {
	margin-bottom: 25px;
}

.info ul {
	margin-left: 15px;
}

.selfdesc p,li,a {
	font-family: 'Comfortaa', cursive;
	font-size: 16px;
	color: black;
	line-height: 1.3;
}

.selfdesc p,ul,a {
	margin-top: 10px;
}


/*education*/
#education h1{
	position: relative;
	margin-left: 40px;
	padding: 10px 0;
}

.col-2-education {
	display: flex;
	justify-content: space-between;
	/* align-items: stretch; */
	border-radius: 10px;
	margin: 10px 20px;
	margin-bottom: 20px;
	overflow: hidden;
	-webkit-transition: all 1s;
}

.col-2-education:hover {
	box-shadow: 0 0 0 5px #B0B0B0;
	cursor: pointer;
}

.col-2-education ul {
	margin-left: 40px;
}

.education-col-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px 0 0 10px;
	background-color: #C8C8C8;
	padding: 40px 50px;
	width: 60%;
}
.education-col-2 {
	display: flex;
	color: #ffffff;
	align-items: center;
	justify-content: center;
	background-color: #505050;
	text-align: center;
	width: 13%;
}
.education-col-3 {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px 10px 10px 0px;
	background-color: #C8C8C8;
	width: 27%;
}

.show-child .click-visible {
	max-height: 1000px; /* Let the content determine the height */
    transform: translateY(0);
}

.click-visible {
	max-height: 0;
  	overflow: hidden;
	transform: translateY(150%);
    transition: transform 1s ease;
}

/*work experience*/
#work {
	background-image: url("../image/work-background.png");
	overflow: hidden;
	background-size: cover;
}

#work h1{
	margin-top: 30px;
	position: relative;
	padding: 10px 0;
	margin-left: 40px;
}

.work-content {
	margin-bottom: 50px;
}

/*projects*/
#project {
	margin-top: 50px;
	background-image: url("../image/project-background.png");
	background-size: cover;
	overflow: hidden;
}
#project h1 {
	position: relative;
	margin-left: 40px;
	padding: 10px 0;
}

.project-content {
	display: grid;
	margin-top: 20px;
	grid-template-columns: repeat(3, 23%); /* Adjust the width as needed */
	grid-auto-rows: 55vh;
	gap: 30px;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
	margin-bottom: 40px;
}

.project-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 90%;
	height: 50vh;
	margin: auto;
	-webkit-transition: all 0.3s;
}

.project-container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(227, 223, 222, 0.8); /* Semi-transparent black */
	border-radius: 10px;
}

.project-container:hover {
	width: 100%;
	height: 55vh;
	cursor: pointer;
}

.project-container:hover .project-name {
	font-size: 11px;
}

.project-img-container {
	/* margin-top: 10px; */
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	margin-bottom: 15px;
}

.class-img {
	max-width: 70%;
	border-radius: 10px;
	box-shadow: 10px 10px 5px lightblue;
	z-index: 1;
}

.project-name {
	text-align: center;
	font-size: 9px;
	z-index: 1;
	-webkit-transition: font-size 0.2s;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .9);
	height: 100%;
	width: 100%;	
	display: none;
}
.popup span {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
	z-index: 100;
}

.popup img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 85%;
	object-fit: cover;
}


.fpgaposter, .mlposter {
	display: flex;
	justify-content: center;
	width: 40%;
}

.fpgadesc, .mldesc {
	align-items: center;
	width: 60%;
}

.fpgadesc h2, .mldesc h2 {
	font-family: 'Oleo Script Swash Caps', cursive;
	text-align: left;
}


.fpgadesc .findoutmore, .mldesc .findoutmore {
	font-size: 20px;
	font-family: 'Oleo Script Swash Caps', cursive;
	color: white;
	position: absolute;
	margin-left: 120px;
	margin-top: 10px;
	padding: 6px;
	width: 170px;
	text-align: center;
	background-color: #4db8ff;
	border-radius: 15px;
}

.fpgadesc .video {
	font-size: 20px;
	font-family: 'Oleo Script Swash Caps', cursive;
	color: white;
	position: absolute;
	margin-left: 340px;
	margin-top: 10px;
	padding: 6px;
	width: 170px;
	text-align: center;
	background-color: #4db8ff;
	border-radius: 15px;
}

.androiddesc, .unitydesc {
	align-items: center;
	width: 60%;
	padding-left: 170px;
}

.androiddesc h2, .unitydesc h2 {
	font-family: 'Oleo Script Swash Caps', cursive;
	text-align: left;
}


.androiddesc .findoutmore, .unitydesc .findoutmore {
	font-size: 20px;
	font-family: 'Oleo Script Swash Caps', cursive;
	color: white;
	position: absolute;
	margin-left: 120px;
	margin-top: 10px;
	padding: 6px;
	width: 170px;
	text-align: center;
	background-color: #4db8ff;
	border-radius: 15px;
}

.androidposter, .unityposter {
	display: flex;
	justify-content: center;
	width: 60%;
	padding-right: 100px;
}

.project-end {
	margin-bottom: 70px;
	margin-top: 50px;
}